.heading {
    background: lightsalmon;
}

.fas {
    rotate:inherit;
}

#icon {
    height: 20px;
    width: 20px;
}

body {
    background-color: rgb(242, 248, 238);
}

.appointment {
    background-color: deeppink;
    border-radius: 5%;
    border-color: deeppink;
    border-bottom-style: none;
}

.nav-link {
    color: deeppink;
}

#booking {
    color: white;
}

#nav-img {
    height: 10%;
    width: 80%;
}

#first {
    content: icon;
    width: 5%;
    height: 10%;
}

.heading {
    color: white;
    background-color: blueviolet;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
    text-align: center;
}

.col-sm-8 a {
    color: white;
}

.col-sm-8 {
    font-size: 17px;
    text-align: justify;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.col-sm-8 li {
    list-style-type: square;
}

#overview-img {
    border-radius: 5%;
    height: 373px;
    width: 560px;
}